<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col md="12">
        <b-card header="Cari Pasien Yang Belum Terdaftar">
          <b-form-group>
            <b-input-group>
              <!-- Attach Left button -->
              <b-input-group-prepend>
                <b-button variant="primary" @click="cekPasien">
                  <i class="fa fa-search"></i> Search
                </b-button>
              </b-input-group-prepend>
              <b-form-input type="text" placeholder="NIK" v-model="cariPasien"></b-form-input>
            </b-input-group>
          </b-form-group>
        </b-card>        
      </b-col>      
      <b-col md="12">
      <b-card v-if="ResultPencarianPasienItems.length > 0" header="Hasil Pencarian Pasien" class="card-accent-success" >
        {{ ResultPencarianPasienItems.length }}
        <b-card>
            <!-- <b-row>  -->              
            <!-- <b-table striped outlined stacked="sm" hover :items="tableItems" :fields="tableFields" head-variant="light" :current-page="currentPage" :per-page="perPage"> -->
           <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="ResultPencarianPasienItems" :fields="ResultPencarianPasienFields" :current-page="currentPage" :per-page="perPage">           
            <div slot="key-nik2" slot-scope="data">
              <p>{{data.item.data.nik }}</p>
            </div>
            <div slot="key-nama2" slot-scope="data">
              <p>{{data.item.data.nama }}</p>
            </div>
            
            <div slot="key-alamat2" slot-scope="data">
              <p>{{data.item.data.alamat }}</p>
            </div>
            <div slot="key-noTelp2" slot-scope="data">
              <p>{{data.item.data.noTelp }}</p>
            </div>
            <div slot="key-golDarah2" slot-scope="data">
              <p>{{data.item.data.golDarah }}</p>
            </div>
            <div slot="key-jenisKelamin2" slot-scope="data">
              <p>{{data.item.data.jenisKelamin }}</p>
            </div>            
            <div slot="key-email2" slot-scope="data">
              <p>{{data.item.data.email }}</p>
            </div>                      
            <div slot="key-detail2" slot-scope="data">
              <b-button-group vertical>             
                <b-button class="btn btn-success" v-if=" data.item.data.nik > 0 " @click="cekAkses(data.item.data._id)">Grant</b-button>
              </b-button-group>
            </div>                      
            </b-table>            
          </b-card>
        </b-card>
      </b-col>
      <b-col md="12">
      <b-card header="Riwayat Pasien Yang Pernah Berobat" class="card-accent-warning">
      <b-card>
            <!-- <b-row>  -->
              
            <!-- <b-table striped outlined stacked="sm" hover :items="tableItems" :fields="tableFields" head-variant="light" :current-page="currentPage" :per-page="perPage"> -->
        <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="tableItems" :fields="tableFields" :current-page="currentPage" :per-page="perPage">
           
            <div slot="key-nik" slot-scope="data">
              <p>{{data.item.user[0].nik }}</p>
            </div>
            <div slot="key-nama" slot-scope="data">
              <p>{{data.item.user[0].nama }}</p>
            </div>
            
            <div slot="key-alamat" slot-scope="data">
              <p>{{data.item.user[0].alamat }}</p>
            </div>
            <div slot="key-noTelp" slot-scope="data">
              <p>{{data.item.user[0].noTelp }}</p>
            </div>
            <div slot="key-golDarah" slot-scope="data">
              <p>{{data.item.user[0].golDarah }}</p>
            </div>
            <div slot="key-jenisKelamin" slot-scope="data">
              <p>{{data.item.user[0].jenisKelamin }}</p>
            </div>            
            <div slot="key-email" slot-scope="data">
              <p>{{data.item.user[0].email }}</p>
            </div>            
            <div slot="key-detail" slot-scope="data">
              <b-button-group>
                <b-button class="btn btn-danger" @click="showRiwayat(data.item._id)">Riwayat</b-button>
              </b-button-group>
            </div>            
            </b-table>
            <nav>
                <b-pagination :total-rows="getRowCount(tableItems)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
            </nav>
            <!-- <nav>
              <b-pagination size="sm" :total-rows="tableItemsLength" :per-page="10" :limit="5" prev-text="prev" next-text="next" v-model="page"/>
            </nav> -->
            <!-- </b-row> -->
             </b-card>
        </b-card>
      </b-col>

      <b-col md="12">
      <b-card v-if="ResultRiwayatPasienItems.length > 0" header="Detail Riwayat Pasien " class="card-accent-warning">
      <b-card>
            <!-- <b-row>  -->

            <!-- <b-table striped outlined stacked="sm" hover :items="tableItems" :fields="tableFields" head-variant="light" :current-page="currentPage" :per-page="perPage"> -->
           <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="ResultRiwayatPasienItems" :fields="ResultRiwayatPasienFields" :current-page="currentPage" :per-page="perPage">
           
            <div slot="key-tanggal" slot-scope="data">
              <p>{{ data.item.data[0].data.tanggal | formatDate }}</p>
            </div>
            <div slot="key-keluhanUtama" slot-scope="data">
              <p>{{data.item.data[0].data.keluhanUtama }}</p>
            </div>

            <div slot="key-show-detail-riwayat" slot-scope="data">
              <b-button-group>
                <b-button class="btn btn-danger" @click="showModal">Detail</b-button>
              </b-button-group>
            </div>            
            </b-table>
            <nav>
                <b-pagination :total-rows="getRowCount(tableItems)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
            </nav>
            <!-- <nav>
              <b-pagination size="sm" :total-rows="tableItemsLength" :per-page="10" :limit="5" prev-text="prev" next-text="next" v-model="page"/>
            </nav> -->
            <!-- </b-row> -->
             </b-card>
        </b-card>
      </b-col>
    </b-row>

    <!-- modal -->
    <b-modal variant="warning" class="modal-warning"  ref="myModalRef" hide-footer title="Detail Riwayat">
      <ol>
        <li>idPasien : {{ idPasien }} </li>
        <li>tanggal : {{ tanggal }} </li>
        <li>idDokter : {{ idDokter }} </li>
        <li>umur : {{ umur }} </li>
        <li>beratBadan : {{ beratBadan }} </li>
        <li>tinggiBadan : {{ tinggiBadan }} </li>
        <li>riwayatKesehatanKeluarga : {{ riwayatKesehatanKeluarga }} </li>
        <li>keluhanUtama : {{ keluhanUtama }} </li>
        <li>diagnosa : {{ diagnosa }} </li>
        <li>larangan : {{ larangan }} </li>
        <li>pemeriksaPenunjang : {{ pemeriksaPenunjang }} </li>
        <li>perawatan : {{ perawatan }} </li>
        <li>advis : {{ advis }} </li>
        <li>head : {{ head }} </li>
        <li>neck : {{ neck }} </li>
        <li>thorax : {{ thorax }} </li>
        <li>abdomen : {{ abdomen }} </li>
        <li>ekstremitas : {{ ekstremitas }} </li>
        <li>catatan : {{ catatan }} </li>
      </ol> 
      
    </b-modal>
  </div>
</template>

<script>
import CardLine1ChartExample from "../dashboard/CardLine1ChartExample";
import CardLine2ChartExample from "../dashboard/CardLine2ChartExample";
import CardLine3ChartExample from "../dashboard/CardLine3ChartExample";
import CardBarChartExample from "../dashboard/CardBarChartExample";
import MainChartExample from "../dashboard/MainChartExample";
import LineChart from "../dashboard/LineChart";
import SocialBoxChartExample from "../dashboard/SocialBoxChartExample";
import CalloutChartExample from "../dashboard/CalloutChartExample";
import { Callout } from "@coreui/vue";
// import io from "socket.io-client";
import PostsService from "@/services/PostsService";
import Constants from "@/services/Constants";
import "vue-spinners/dist/vue-spinners.css";
import { BounceSpinner } from "vue-spinners/dist/vue-spinners.common";
import moment from "moment";

export default {
  name: "Details",
  filters: {
    formatDate: function(value) {
      if (value) {
        return moment(String(value)).format("DD-MMM-YYYY HH:mm:ss");
      }
    }
  },
  props: {
    hover: {
      type: Boolean,
      default: false
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  components: {
    Callout,
    BounceSpinner,
    // myComponent,
    LineChart,
    CardLine1ChartExample,
    CardLine2ChartExample,
    CardLine3ChartExample,
    CardBarChartExample,
    MainChartExample,
    SocialBoxChartExample,
    CalloutChartExample
  },
  data() {
    return {
      idPasien: "",
      tanggal: "",
      idDokter: "",
      umur: "",
      beratBadan: "",
      tinggiBadan: "",
      riwayatKesehatanKeluarga: "",
      keluhanUtama: "",
      diagnosa: "",
      larangan: "",
      pemeriksaPenunjang: "",
      perawatan: "",
      advis: "",
      head: "",
      neck: "",
      thorax: "",
      abdomen: "",
      ekstremitas: "",
      catatan: "",
      isLoadingAttr: false,
      cariPasien: 0,
      isLoading: false,
      isProcess: true,
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      page: 1,
      tableItemsLength: 0,
      dataChartHeart: [],
      dataChartTemp: [],
      dataChartHeartLimit: [],
      dataChartHeartUpperLimit: [],
      dataChartTemperatureLimit: [],
      dataChartTemperatureUpperLimit: [],
      labelsData: [],
      statusDeviceInStr: "",
      statusDevice: "",
      conditions: "",
      test: [4, 4, 4, 4, 4, 4],
      nameOfCow: "",
      // socket: io("206.189.36.70:3001"),
      CurrentConditions: "",
      dateOnFormat: "",
      currentTemp: 0,
      currentHeart: 0,
      successAlert: [],
      tableItems: [],
      ResultPencarianPasienItems: [],
      ResultRiwayatPasienItems: [],
      tableFields: [
        {
          key: "key-nik",
          label: "NIK"
        },
        {
          key: "key-nama",
          label: "Nama"
        },
        {
          key: "key-alamat",
          label: "Alamat"
        },
        {
          key: "key-noTelp",
          label: "No Telp"
        },
        {
          key: "key-golDarah",
          label: "Golongan Darah"
        },
        {
          key: "key-jenisKelamin",
          label: "Jenis Kelamin"
        },
        {
          key: "key-email",
          label: "Email"
        },
        {
          key: "key-detail",
          label: "Other"
        }
      ],
      ResultPencarianPasienFields: [
        {
          key: "key-nik2",
          label: "NIK"
        },
        {
          key: "key-nama2",
          label: "Nama"
        },
        {
          key: "key-alamat2",
          label: "Alamat"
        },
        {
          key: "key-noTelp2",
          label: "No Telp"
        },
        {
          key: "key-golDarah2",
          label: "Golongan Darah"
        },
        {
          key: "key-jenisKelamin2",
          label: "Jenis Kelamin"
        },
        {
          key: "key-email2",
          label: "Email"
        },
        {
          key: "key-detail2",
          label: "Other"
        }
      ],
      ResultRiwayatPasienFields: [
        {
          key: "key-tanggal",
          label: "Date"
        },
        {
          key: "key-keluhanUtama",
          label: "keluhan Utama"
        },
        {
          key: "key-show-detail-riwayat",
          label: "Other"
        }
      ],
      DetailResultRiwayatPasienItems: [],
      DetailResultRiwayatPasienFields: [
        {
          key: "detail-tanggal",
          label: "Date"
        }
      ],
      startDate: "",
      endDate: ""
    };
  },
  created() {
    this.checkSession();
  },
  methods: {
    showModal() {
      /**
       * this function for show create cow form on modal
       */
      // console.log(DetailResultRiwayatPasienItems);
      this.errors = [];
      this.$refs.myModalRef.show();
    },
    async cekPasien() {
      const response = await this.fetchCariPasien(this.cariPasien);
      // console.log(response)
      this.ResultPencarianPasienItems = [];
      this.ResultPencarianPasienItems.push(response);
      // console.log(this.ResultPencarianPasienItems[0]);
    },
    async showRiwayat(e) {
      const response = await this.fetchShowRiwayat(e);
      // console.log(response)
      this.ResultRiwayatPasienItems = [];
      this.DetailResultRiwayatPasienItems = [];
      this.ResultRiwayatPasienItems.push(response);
      this.DetailResultRiwayatPasienItems.push(response);
      this.idPasien = this.DetailResultRiwayatPasienItems[0].data[0].data.idPasien;
      this.tanggal = this.DetailResultRiwayatPasienItems[0].data[0].data.tanggal;
      this.idDokter = this.DetailResultRiwayatPasienItems[0].data[0].data.idDokter;
      this.umur = this.DetailResultRiwayatPasienItems[0].data[0].data.umur;
      this.beratBadan = this.DetailResultRiwayatPasienItems[0].data[0].data.beratBadan;
      this.tinggiBadan = this.DetailResultRiwayatPasienItems[0].data[0].data.tinggiBadan;
      this.riwayatKesehatanKeluarga = this.DetailResultRiwayatPasienItems[0].data[0].data.riwayatKesehatanKeluarga;
      this.keluhanUtama = this.DetailResultRiwayatPasienItems[0].data[0].data.keluhanUtama;
      this.diagnosa = this.DetailResultRiwayatPasienItems[0].data[0].data.diagnosa;
      this.larangan = this.DetailResultRiwayatPasienItems[0].data[0].data.larangan;
      this.pemeriksaPenunjang = this.DetailResultRiwayatPasienItems[0].data[0].data.pemeriksaPenunjang;
      this.perawatan = this.DetailResultRiwayatPasienItems[0].data[0].data.perawatan;
      this.advis = this.DetailResultRiwayatPasienItems[0].data[0].data.advis;
      this.head = this.DetailResultRiwayatPasienItems[0].data[0].data.head;
      this.neck = this.DetailResultRiwayatPasienItems[0].data[0].data.neck;
      this.thorax = this.DetailResultRiwayatPasienItems[0].data[0].data.thorax;
      this.abdomen = this.DetailResultRiwayatPasienItems[0].data[0].data.abdomen;
      this.ekstremitas = this.DetailResultRiwayatPasienItems[0].data[0].data.ekstremitas;
      this.catatan = this.DetailResultRiwayatPasienItems[0].data[0].data.catatan;

      console.log(this.DetailResultRiwayatPasienItems[0].data[0].data.abdomen);
    },
    getRowCount(items) {
      return items.length;
    },
    filterData: function() {
      this.processDataInTime();
    },
    checkSession() {
      /**
       * check session and do action
       */
      if (!window.localStorage.getItem("token")) {
        this.$router.push({ name: "Login" });
      } else {
        if (window.localStorage.getItem("role") != Constants.ROLE_DOKTER) {
          // redirect to 404 page
          this.$router.push({ name: "Page404" });
        } else {
          this.firstLoad();
        }
      }
    },
    async fetchDataPasien() {
      const response = await PostsService.getPasienByDokter(
        window.localStorage.getItem("token"),
        {
          idDokter: window.localStorage.getItem("idDokter")
        }
      );
      return response.data;
    },
    async fetchCariPasien(nik) {
      const response = await PostsService.getPasienByNIK(
        window.localStorage.getItem("token"),
        {
          nik: nik
        }
      );
      return response.data;
    },
    async fetchShowRiwayat(idPasien) {
      console.log("idPasien" + idPasien);
      const response = await PostsService.getRiwayatByIdPasien(
        window.localStorage.getItem("token"),
        {
          idPasien: idPasien
        }
      );
      return response.data;
    },
    async firstLoad() {
      this.dataChartHeart = [];
      this.dataChartTemp = [];
      this.dataChartHeartLimit = [];
      this.dataChartHeartUpperLimit = [];
      this.dataChartTemperatureLimit = [];
      this.dataChartTemperatureUpperLimit = [];
      this.labelsData = [];
      const response = await this.fetchDataPasien();
      this.tableItems = response.data;
      // console.log(this.tableItems);
    },
    async cekAkses(idPasien) {
      // console.log(idPasien);
      const response = await PostsService.cekAkses(
        window.localStorage.getItem("token"),
        {
          idPasien: idPasien
        }
      );
      console.log(response);
      return response.data;
    }
  }
};
</script>

<style>
/* IE fix */
#card-chart-01,
#card-chart-02 {
  width: 100% !important;
}
.list-sapi-header {
  color: white;
}
.brand-card-header {
  background-color: #ffc107 !important;
}
.header-section {
  text-align: center;
}
</style>
