<template>
<div>
   <bounce-spinner v-if="isLoading"></bounce-spinner>
  <div class="animated fadeIn" v-if="isLoading==false">
      <b-card-group class="mb-4">
        <b-card>
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-hospital-o fa-lg mt-4"></i>
          </div>
          <div class="h4 mb-0">{{ HospitalRegistered }}</div>
          <small class="text-muted text-uppercase font-weight-bold">Hospital Registered</small>
          <b-progress height="{}" class="progress-xs mt-3 mb-0" variant="info" :value="HospitalRegistered"/>
        </b-card>
        <b-card>
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-user fa-lg mt-4"></i>
          </div>
          <div class="h4 mb-0">{{DokterRegistered}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Dokter Registered</small>
          <b-progress height="{}" class="progress-xs mt-3 mb-0" variant="success" :value="DokterRegistered"/>
        </b-card>
        <b-card>
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-user fa-lg mt-4"></i>
          </div>
          <div class="h4 mb-0">{{PasienRegistered}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Pasien Registered</small>
          <b-progress height="{}" class="progress-xs mt-3 mb-0" variant="success" :value="PasienRegistered"/>
        </b-card>
        <b-card>
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-history fa-lg mt-4"></i>
          </div>
          <div class="h4 mb-0">{{MedicalRecorded}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Medical Recorded</small>
          <b-progress height="{}" class="progress-xs mt-3 mb-0" variant="success" :value="MedicalRecorded"/>
        </b-card>
      </b-card-group>
    <b-row>
      <b-col md="12">
        <b-card header="Hospital List" class="card-accent-warning">
          <b-table
            class="mb-0 table-outline"
            striped
            responsive="sm"
            hover
            :items="tableItems"
            :fields="tableFields"
            head-variant="light"
          >
            <div slot="key-nama" slot-scope="data">
              <img src="img/avatars/breder.jpg" width="50px" alt="farmers logo">
              <strong> {{data.item.namaHospital}}</strong>
            </div>
            <div slot="key-alamat" slot-scope="data">
              <i class="icon-direction"></i>
              <strong> {{data.item.alamat}}</strong>
            </div>
            <div slot="key-telphone" slot-scope="data">             
              <strong>{{data.item.noTelp}}</strong>
            </div>
            <div slot="key-email" slot-scope="data">     
              <strong>{{data.item.email}}</strong>  
            </div>
          </b-table>
        </b-card>
      </b-col>
    </b-row>
  </div>
</div>
</template>

<script>
import CardLine1ChartExample from "../dashboard/CardLine1ChartExample";
import CardLine2ChartExample from "../dashboard/CardLine2ChartExample";
import CardLine3ChartExample from "../dashboard/CardLine3ChartExample";
import CardBarChartExample from "../dashboard/CardBarChartExample";
import MainChartExample from "../dashboard/MainChartExample";
import SocialBoxChartExample from "../dashboard/SocialBoxChartExample";
import CalloutChartExample from "../dashboard/CalloutChartExample";
import { Callout } from "@coreui/vue";
import PostsService from "@/services/PostsService";
import Constants from "@/services/Constants";
import "vue-spinners/dist/vue-spinners.css";
import { BounceSpinner } from "vue-spinners/dist/vue-spinners.common";

export default {
  name: "Admin",
  components: {
    Callout,
    BounceSpinner,
    CardLine1ChartExample,
    CardLine2ChartExample,
    CardLine3ChartExample,
    CardBarChartExample,
    MainChartExample,
    SocialBoxChartExample,
    CalloutChartExample
  },
  data: function() {
    return {
      isLoading: true,
      HospitalRegistered: 0,
      DokterRegistered: 0,
      PasienRegistered: 0,
      MedicalRecorded: 0,
      tableItems: [],
      tableFields: [
        {
          key: "key-nama",
          label: "Name"
        },
        {
          key: "key-alamat",
          label: "Address"
        },
        {
          key: "key-telphone",
          label: "Telephone"
        },
        {
          key: "key-email",
          label: "Email"
        }
      ]
    };
  },
  created() {
    this.checkSession();
  },
  methods: {
    async fetchDataHospital() {
      let response = await PostsService.getAllHospital(
        window.localStorage.getItem("token")
      );
      return response.data;
    },
    async fetchDataPasien() {
      let response = await PostsService.getAllPasien(
        window.localStorage.getItem("token")
      );
      return response.data;
    },
    async fetchDataRiwayat() {
      let response = await PostsService.getAllRiwayat(
        window.localStorage.getItem("token")
      );
      return response.data;
    },
    checkSession() {
      /**
       * check session and do action
       */
      if (!window.localStorage.getItem("token")) {
        this.$router.push({ name: "Login" });
      } else {
        if (window.localStorage.getItem("role") != Constants.ROLE_ADMIN) {
          // redirect to 404 page
          this.$router.push({ name: "Page404" });
        } else {
          this.firstLoad();
        }
      }
    },
    async firstLoad() {
      let responseHospital = await this.fetchDataHospital();
      let responsePasien = await this.fetchDataPasien();
      let responseRiwayat = await this.fetchDataRiwayat();

      let hospitalData = responseHospital.data;
      let pasienData = responsePasien.data;
      let riwayatData = responseRiwayat.data;
      this.isLoading = false;

      this.hospitalRegistered = hospitalData.length;
      this.pasienRegistered = pasienData.length;
      this.riwayatRegistered = riwayatData.length;
      this.tableItems = hospitalData;

      console.log(this.hospitalRegistered);
      console.log(this.pasienRegistered);
      console.log(this.riwayatRegistered);
    }
  }
};
</script>

<style>
/* IE fix */
#card-chart-01,
#card-chart-02 {
  width: 100% !important;
}
</style>
