<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col md="12">
                    <b-alert show variant="success" v-if="successAlert.length > 0">
              <h4 class="alert-heading">Selamat !</h4>
              <ul>
                <li v-for="item in successAlert" :key="item">{{ item }}</li>
              </ul>
              <hr>
              <p class="mb-0">
               <b-button variant="warning" block @click="toLogin">Login</b-button>
              </p>
            </b-alert>
        <b-card>
          <div slot="header">
            <strong>Identitas Pasien</strong>
          </div>
          <b-form>
          <b-form-group
            label="Nama Lengkap"
            label-for="nama"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="nama" type="text" placeholder="Nama Lengkap" autocomplete="name" v-model="nama"></b-form-input>
          </b-form-group>
          <b-form-group
            label="NIK"
            label-for="nik"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="nik" type="text" placeholder="NIK" v-model="nik"></b-form-input>
          </b-form-group>
          <b-form-group
            label="Email"
            label-for="email"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="email" type="email" placeholder="Enter your email" autocomplete="email" v-model="email"></b-form-input>
          </b-form-group>
          <b-form-group
            label="Username"
            label-for="username"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="username" type="text" placeholder="Username" autocomplete="name" v-model="username"></b-form-input>
          </b-form-group>
          <b-form-group
            label="Password"
            label-for="password"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="password" type="password" placeholder="Enter your password" autocomplete="current-password" v-model="password"></b-form-input>
          </b-form-group>
          <b-form-group
            label="Alamat"
            label-for="alamat"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="alamat" :textarea="true" :rows="9" placeholder="Alamat.." v-model="alamat"></b-form-input>
          </b-form-group>        
                    <b-form-group
            label="No telephone"
            label-for="username"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="noTelp" type="text" placeholder="+62" autocomplete="NoTelp" v-model="noTelp"></b-form-input>
          </b-form-group>  
          <b-form-group
            label="Golongan Darah"
            label-for="golDarah"
            :label-cols="3"
            :horizontal="true">
            <b-form-radio-group id="golDarah" v-model="golDarah"
              :plain="true"
              :options="[
                {text: 'A',value: 'A'},
                {text: 'B',value: 'B'},
                {text: 'AB',value: 'AB'},
                {text: 'O',value: 'O'}
              ]"
              checked="2"
              stacked>
            </b-form-radio-group>
          </b-form-group>
          <b-form-group
            label="Jenis Kelasmin"
            label-for="jenisKelamin"
            :label-cols="3"
            :horizontal="true">
            <b-form-radio-group id="jenisKelamin" v-model="jenisKelamin"
              :plain="true"
              :options="[
                {text: 'Laki - Laki',value: 'L'},
                {text: 'Perempuan',value: 'P'}
              ]"
              checked="2"
              stacked>
            </b-form-radio-group>
          </b-form-group>
          <div slot="footer">
            <b-button type="submit" size="sm" variant="primary" @click="checkForm"><i class="fa fa-dot-circle-o"></i>Create</b-button>
            <b-button type="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
          </div>
          </b-form>
        </b-card>      
      </b-col>
    </b-row>
  </div>
</template>

<script>
import PostsService from "@/services/PostsService";
export default {
  name: "BuatDokter",
  data: function() {
    return {
      nama: "",
      nik: "",
      username: "",
      password: "",
      email: "",
      noTelp: "",
      alamat: "",
      jenisKelamin: "",
      role: "",
      golDarah: "",
      errors: [],
      successAlert: []
    };
  },
  methods: {
    checkForm: function(e) {
      if (
        this.nama &&
        this.nik &&
        this.username &&
        this.password &&
        this.email &&
        this.noTelp &&
        this.alamat &&
        this.jenisKelamin &&
        this.golDarah
      ) {
        this.postData();
      }
      this.errors = [];
      if (!this.username) {
        this.errors.push("Username cant blank !");
      }
      if (!this.nik) {
        this.errors.push("NIK cant blank !");
      }
      if (!this.password) {
        this.errors.push("Password cant blank !");
      }
      if (!this.nama) {
        this.errors.push("Name cant blank !");
      }
      if (!this.alamat) {
        this.errors.push("Address cant blank !");
      }
      if (!this.noTelp) {
        this.errors.push("Phone cant blank !");
      }
      if (!this.email) {
        this.errors.push("Email cant blank !");
      }
      if (!this.golDarah) {
        this.errors.push("Golongan Darah cant blank !");
      }
      if (!this.jenisKelamin) {
        this.errors.push("Jenis Kelamin cant blank !");
      }
      e.preventDefault();
    },
    async postData() {
      var token = window.localStorage.getItem("token");
      console.log(token);
      const response = await PostsService.signupPasien(token, {
        username: this.username,
        password: this.password,
        role: 2,
        golDarah: this.golDarah,
        nama: this.nama,
        alamat: this.alamat,
        noTelp: this.noTelp,
        email: this.email,
        jenisKelamin: this.jenisKelamin,
        nik: this.nik
      });
      console.log(response);
      if (response.data.status) {
        this.successAlert.push(
          "Congratulation,You have successfully created a new account, please click the button to login"
        );
      }
    },
    
  }
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
